@model GithubSharp.MvcSample.MvcApplication.Models.ViewModels.BaseViewModel<System.Collections.Generic.IEnumerable<GithubSharp.Core.Models.PublicKey>>
@section Title {
PublicKeys
}
<h2>
    PublicKeys</h2>
@if (Model.ModelParameter != null && Model.ModelParameter.Count() > 0)
{
    <table>
        <tr>
            <th>
            </th>
            <th>
                title
            </th>
            <th>
                id
            </th>
            <th>
                key
            </th>
        </tr>
        @foreach (var item in Model.ModelParameter)
        {
            <tr>
                <td>
                    @Html.ActionLink("Edit", "EditPublicKey", new { id = item.Id })
                    |
                </td>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Id
                </td>
                <td>
                    @item.Key
                </td>
            </tr>
        }
    </table>
}
else
{
    <div class="notice">
        No public keys available</div>
}
<p>
    @Html.ActionLink("Create New Public Key", "CreatePublicKey")
</p>
